<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
        <title>Blackjack</title>
        <script src="/js/blackjackLogic.js" defer></script>
</head>

<body>
    <%- include('partials/nav'); %>

        <h1>Blackjack Table</h1>

        <div class="pageContent">
            <div id="dealerContainer">
                <div>Dealer</div>
                <p>Cards: <span id="dealerCardNumber">?</span></p>
            </div>

            <div id="playerContainer">
                <div>Player</div>
                <div>Score: <span id="playerScore">0</span></div>
                <p>Cards: <span id="playerCardNumber"></span></p>

                <div class="controls">
                    <button id="hitBtn" onclick="playerHit()">Hit</button>
                    <button id="standBtn" onclick="playerStand()">Stand</button>
                    <button id="doubleBtn" onclick="playerDouble()">Double</button>
                    <button id="surrenderBtn" onclick="playerSurrender()">Surrender</button>
                </div>
            </div>

            <div id="cpusContainer">
                <div class="cpuContainer">
                    <div>
                        <%= cpus[0]?.name %>
                    </div>
                    <p>Cards: <span id="cpu1CardNumber"></span></p>
                </div>

                <div class="cpuContainer">
                    <div>
                        <%= cpus[1]?.name %>
                    </div>
                    <p>Cards: <span id="cpu2CardNumber"></span></p>
                </div>

                <div class="cpuContainer">
                    <div>
                        <%= cpus[2]?.name %>
                    </div>
                    <p>Cards: <span id="cpu3CardNumber"></span></p>
                </div>
            </div>
        </div>



        <div id="resultModal" class="modal">
            <div class="modal-content">
                <h2>Round Finished</h2>
                <p id="modalMessage"></p>

                <button id="modalContinueBtn">Continue</button>
            </div>
        </div>

        <!-- Needed so that info is passed to the separate JS file -->
        <div id="cpu-data" data-cpus='<%- JSON.stringify(cpus) %>'></div>
        <div id="bet-data" data-bet="<%= betAmount %>"></div>
</body>

</html>